*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

p{
   color:rgb(46, 46, 46); 
   font-size: 30px;
   text-align:center;
   font-family:'Arial';
}

.title{
    font-size:55px;
    font-weight:700;
    text-align: center;
}

.box p{
    width:80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    height:200px;
    padding-top:10px;
}

.container {
    background-color: rgb(155, 155, 155);
    height:100vh;
    display:flex;
    gap:6px;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap:wrap;
}

html, body{
    scroll-behavior:smooth;
}

header
{
    margin:0;
    padding:0;
    box-sizing:border-box;
    border : 2px solid black;
    height : 150px;
    width : 100%;
    position : fixed;
    top : 0px;
    left : 0px;
    background-color: rgb(188, 151, 111);
    font-family: 'Bungee Outline', cursive;
    font-family: 'Orbitron', sans-serif;
    font-family: 'Playfair Display SC', serif;
    z-index: 5;
}

header .liens{
    text-indent: 35%;
}

footer
{
    border : 2px solid black;
    height : 100px;
    width: 100%;
    background-color : rgb(188, 151, 111);
    color: white;
    font-size : 15px;
    text-align: center;
}

.overlay-image .image {
    display: block;
    width: 1600px;
    height: auto;
    margin-top: 148px;
   }

.overlay-image .hover {
    position: absolute;
    top: 40px;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
   }
   
.overlay-image:hover .hover {
    opacity: 1;
   }

.container .imagelnettesinfos {
    float:right;
    width: 100%; 
    height:auto; 
    }


.container .imageecolo{
    float:right;
    width: 100%; 
    height:auto; 
}

.container .imagenew {
    width: 1000px;
    height: auto;

    text-align: center ;
}



